.wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  right: 100px;
  top: 20px;
}

.matches {
  margin-right: 8px;
}

.icon {
  width: 18px;
  height: 18px;
  margin-left: 8px;
  padding: 8px;
}
